h1 {color:black; font-family: cursive;}
#welcome {color:blue;}
.active {background-color: white;}
body{background-color: lightgoldenrodyellow;}
body{font-family: Georgia, 'Times New Roman', Times, serif;}
nav{background-color: white;}

abt {font-size: small;}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }