h1 {color:black; font-family: cursive;}
#welcome {color:blue;}
.active {background-color: white;}
body{background-color: lightgoldenrodyellow;}
body{font-family: Georgia, 'Times New Roman', Times, serif;}
nav{background-color: white;}

abt {font-size: small;}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.col-md {
    padding: 10px;
}

h4 {color:black; font-size: medium}

.letterthing::first-letter {
    font-size:xx-large;
    color:rebeccapurple;
    font-family: cursive;

}
#container {
  position: relative;
}
.containerfooter {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}