h1 {color:black;}
#welcome {color:blue;}
nav {background-color:lightgoldenrodyellow;}
.active {background-color: lightgoldenrodyellow;}
body{background-color: lightgoldenrodyellow;}
body{font-family: Georgia, 'Times New Roman', Times, serif;}